#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    backup_disabled: true
    keep_days: '2'
    keep_lasts: '2'
    keep_monthes: '0'
    keep_weeks: '0'
    keep_logs: '7'
    mail: sysadmin@foo.com
    domain: "www.{name}.loc"
# uncomment in pillar and add any setting
# you can start to tune with pgtune (apt-get install pgtune)
#    pg_optim:
#      - default_statistics_target = 50
#      - maintenance_work_mem = 832MB
#      - constraint_exclusion = on
#      - checkpoint_completion_target = 0.9
#      - effective_cache_size = 10GB
#      - work_mem = 88MB
#      - wal_buffers = 8MB
#      - checkpoint_segments = 16
#      - shared_buffers = 3328MB
#      - max_connections = 80
    password: "secret"
    sysctls:
# shmmax: valueInBytes*1024
# shmall: valueInBytes*1024/4096
      - kernel.shmall: null
      - kernel.shmmax: null
    #users:
    #  - user: {kwargs to macro}
    #groups:
    #  - user: {kwargs to macro}
    databases:
      - db1:
          # db password
          password: "{password}"
          # db owner
          user: db1

# vim:set ft=yaml:
