# {{ansible_managed}}}
[Unit]
Description=cops {{ cops_postgresql_name }} reconfigure on restart
After=network.target{% for s in cops_postgresql_services %} {{s}}.service{%endfor%}

[Service]
Type=forking
ExecStart={{cops_postgresql_reconfigure}} post
PassEnvironment={{cops_postgresql_reconfigure_passenv}}
TimeoutSec=0
RemainAfterExit=yes
